{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
        
             <h2 class="display-6 text-center mb-4"><i>Корзина</i></h2>
            {% if baskets == false %}
             <h2 class="display-6 text-center mb-4"><i>пуста</i></h2>
             {% else %}
            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th style="width: 34%;">Наименование</th>
                            <th style="width: 22%;">Количество</th>
                            <th style="width: 22%;">Цена</th>
                            <th style="width: 22%;">Сумма</th>
                        </tr>
                    </thead>
                   
                       
                    </tbody>

                    <tbody>
                         <tr>
                            <th scope="row" class="text-start">Пицца-Ягодица</th>
                            <td><a href="#" class="text-decoration-none text-dark">1 шт.</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">520 р</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">520 р</a></td>

                            
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Пицца-Деревенская</th>
                            <td><a href="#" class="text-decoration-none text-dark">2 шт.</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">350 р.</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">700 р.</a></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Пицца-Моцарелла</th>
                            <td><a href="#" class="text-decoration-none text-dark">3 шт</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">250 р.</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">750 р.</a></td>
                        </tr>
                        
                        <tr>
                            <th scope="row" class="text-start">Пицца-Кузмич</th>
                            <td><a href="#" class="text-decoration-none text-dark">1 шт.</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">390 р.</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">390 р.</a></td>
                        </tr>
                         <tbody>
                        <tr>
                            <th scope="row" class="text-start">ИТОГО:</th>
                            <td></td>
                            <td></td>
                            <td><b>2360 р.</b></td>
                        </tr>
                    </tbody>
                    
                </table>
                <div class="d-flex justify-content-end mt-5">
                    <button type="submit" class="btn btn-primary ">Оформить заказ</button>
                </div>
            </div> 
           {% endif %}
{% endblock %}
